.about-me {
  width: 1100px;
  margin: auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .1);
  border-radius: 8px;
  transition: box-shadow .3s ease-out;
}
.about-me:hover {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, .2);
}
.about-me:hover > .about-me-content {
  padding-left: 8px;
}
.about-me-content {
  transition: padding-left .3s ease-out;
  transition-delay: .3s;
  width: 70%;
}
.about-me-content > p > a {
  font-weight: bold;
  color: #C0C0C0;
  font-size: 18px;
  transition: font-style .3s ease-out;
}
.about-me-content > p > a:hover {
  text-decoration: none;
  font-style: italic;
  background: -webkit-linear-gradient(40deg, #15D1EB 10%, #11A4F6 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*MOBILE*/
.about-me-xs {
  width: 90%;
  margin: 32px auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, .05);
  border-radius: 8px;
  background-color: white:
}
.all-xs > .xs {
  width: 100% !important;
}
