.banner {
  background-image: url("images/artwork01.jpg");
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6px;
}
.banner-text {
  color: white;
  position: absolute;
  padding: 150px 250px;
}

.banner-text > h1 {
  font-size: 70px;
  font-weight: bolder;
}

