.image-divider {
  width: 100%;
  height: 100px;
  margin: 6px 0;
  background-image: url("images/artwork01.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .95;
}


.image-divider-footer {
  width: 100%;
  height: 305px;
  margin: 6px 0;
  background-image: url("images/artwork01.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
/*MOBILE*/
.divider-xs {width: 100%;
  height: 100px;
  margin: 6px 0;
  background-image: url("images/artwork01.jpg");
  background-attachment: scroll !important;
  background-repeat: no-repeat;
  opacity: .95;
  background-position: 55% 0;
}
