#navbar {
  width: 100%;
  top: 0;
  position: fixed !important;
  z-index: 300;
  transition: background-color 0.4s ease-out, height .4s ease-out;
  padding: 0;
}
.navbar {
  height: 80px;
}
.navbar-logo {
  margin: auto 16px;
}
.navbar-logo > img {
  opacity: 0;
}
.nav-item > a {
  color: white;
  font-weight: normal;
  font-size: 18px;
  padding-right: 30px;
  transition: font-size .3s ease-out;
}
.nav-item > a:hover {
  text-decoration: none;
  font-size: 19px;
  font-weight: bolder;
  color: white;
}

.navbar-logo > a > .fas {
  padding-left: 15px;
  display: none;
  font-size: 27px;
  color: white;
  transition: font-size .2s ease-out;
}
.navbar-logo > a > .fas:hover {
  font-size: 32px;
}
.navbar-logo > a:hover {
  text-decoration: none;
}
.navbar-logo > .mobile-version-link {
  margin-left: 16px;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: font-size .3s ease-out;
}
.navbar-logo > .mobile-version-link:hover {
  font-size: 17px;
  font-weight: bolder;
}

nav.scroll {
  height: 50px;
}
nav.one {
  background-color: #11A4F6;
}
nav.two {
  background-color: #117BF6;
}
nav.three {
  background-color: #5713EA;
}
nav.scroll > .navbar-logo > a > .fas, nav.scroll > .navbar-toggler {
  display: block;
}
nav.scroll > .navbar-collapse {
  opacity: 1;
}
 /*mobile*/
.logo-mobile {
  margin: auto 16px;
 }
 button:focus {
  outline: none !important;
 }
.navbar-toggler {
  display: none;
  border: 1px solid white !important;
  padding-bottom: 4px;
  margin: auto 32px;
  transition: border .2s ease-out;
 }
.navbar-toggler-icon-mobile {
  color: white;
}
.navbar-toggler:hover {
  border: 3px double white !important;
}
.navbar-collapse {
  opacity: 0;
  background-color: inherit;
  padding: 8px 32px;
}
