.profile-image > img {
  width: 250px;
  height: 310px;
  border-radius: 6px;
  object-fit: cover;
  object-position: center;
  transition: width .3s ease-out;
}
.about-me:hover > .profile-image > img {
  width: 270px;
}
