.skills {
  margin: 80px auto;
  width: 1100px;
  height: 330px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, .1);
  padding: 40px 60px !important;
  border-radius: 8px;
  transition: box-shadow .3s ease-out;
}
.skills:hover {
  box-shadow: 0px 2px 30px rgba(0, 0, 0, .2);
}
.skills-content {
  width: 550px;
}
.skills-header > h6{
  font-weight: bolder;
  font-size: 18px;
  padding-bottom: 16px;
}
.skills-names {
  padding-left: 16px;
}
.skills-names > ul {
  padding: 16px;
}

.skills-column {
  width: 50%;
}
/*MOBILE*/
.skills-xs {
  margin: 32px auto auto 0;
}
.skills-content-xs {
  height: 300px;
  padding: 0 16px;
}
.skills-column-xs {
  width: 60%;
  margin-bottom: 8px;
}
.skills-names-xs > ul {
  padding-left: 0;
}
