@import url("banner.css");
@import url("image-divider.css");
@import url("section-header.css");
@import url("navbar.css");
@import url("banner-text.css");
@import url("banner-button.css");
@import url("about-me.css");
@import url("skills.css");
@import url("xp.css");
@import url("logos.css");
@import url("education.css");
@import url("interests.css");
@import url("contact.css");
@import url("profile-image.css");
@import url("footer-icons.css");


html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 4050px;
  background: linear-gradient(220deg, #15D1EB 0%, #11A4F6 20%, #117BF6 40%, #5713EA 60%, #9D2AF6 80%);
}

