.xp {
  margin: auto;
  padding-left: 16px;
  width: 80%
}

.xp-content {
  padding: 16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 32px;
}


.xp-photo > img {
  object-fit: cover;
  width: 150px;
  height: 180px;
  border-radius: 5px;
}

.xp-text {
  padding: 0 32px;
}
.xp-date {
  padding-left: 32px;
  padding-right: 16px;
  align-items: center;
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  flex-direction: column;
  border-left: blue 1px solid;
}
