<!-- BANNER -->
<a id="section0"></a>
  <div class="banner">
    <div class="banner-text">
      <h1>Delphine Cretegny</h1>
      <div class="Iam">
        <p>I am</p>
        <b>
          <div class="innerIam">
            passionate<br />
            very curious<br />
            in love with visual designs<br />
            open to new opportunities<br />
            available<br />
          </div>
        </b>
      </div>
      <div class="banner-button">
        <h3>UI/UX Designer - Front End</h3>
        <a href="#section1" class="button mr-2">ABOUT ME</a>
        <a href="assets/images/cv_DelphineCretegny_2019.pdf" target="_blank" class="button">MY RESUME</a>
      </div>
    </div>


    <div class="banner-image">
      <img src="" alt="">
    </div>
  </div>
